<?xml version="1.0" encoding="UTF-8"?>
<config>
	<options>
		<ident_method>pass</ident_method>
		<!--<ident_method>services</ident_method>-->
		<rss_interval>180</rss_interval>
	</options>
	<server>
		<chatname>unreal</chatname>
		<address>localhost</address>
		<port>6667</port>
		<nick>lpbot</nick>
		<username>lpuser</username>
		<realname>Lp Bot</realname>
		<channel>#lpbot_local</channel>
		<!--<channel>#lpbot_local2</channel>-->
	</server>
	<!--<server>
		<chatname>freenode</chatname>
		<address>irc.freenode.net</address>
		<port>6667</port>
		<nick>lpbot</nick>
		<username>lpuser</username>
		<realname>Lp Bot</realname>
		<channel>#lpbot</channel>
	</server>-->
	<rss>
		<name>test</name>
		<url>http://frugalware.org/~vmiklos/rss/test/test.py</url>
		<server>unreal</server>
		<channel>#lpbot_local</channel>
	</rss>
	<user>
		<login>vmiklos</login>
		<pass>foo</pass>
		<right_db>1</right_db>
		<right_op>1</right_op>
	</user>
</config>
